In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [2]:
neighborhoods_gdf = gpd.read_file('2010 Neighborhood Tabulation Areas (NTAs).geojson')

In [3]:
gce_df = pd.read_csv('data/likely-gce-bbls_2024-06-24.csv').drop_duplicates()

In [4]:
gce_df

,bbl,address,borough,unitsres,rs_units,yearbuilt,bldgclass,ownername,wow_link,latitude,longitude
0,3051020063,2101 ALBEMARLE ROAD,BK,94,0,1939,D1,2101 ALBERMARLE INC,https://whoownswhat.justfix.org/bbl/3051020063,40.647685,-73.959027
1,3024310036,151 SOUTH 4 STREET,BK,25,0,1906,C6,149 SOUTH 4TH STREET HOUSING DEV,https://whoownswhat.justfix.org/bbl/3024310036,40.711812,-73.962064
2,1005830024,40 MORTON STREET,MN,15,0,1887,C4,"SKYJAM HOLDING, LLC",https://whoownswhat.justfix.org/bbl/1005830024,40.730644,-74.005142
3,1014990010,11 EAST 87 STREET,MN,85,0,1954,D4,11 EAST 87TH ST TENANTS CORP,https://whoownswhat.justfix.org/bbl/1014990010,40.781969,-73.958767
4,1005670007,33 5 AVENUE,MN,60,0,1923,D4,33 FIFTH AVE OWNERS,https://whoownswhat.justfix.org/bbl/1005670007,40.733172,-73.995280
...,...,...,...,...,...,...,...,...,...,...,...
6084,2039870058,1500 OVERING STREET,BX,31,0,1926,C6,VERINGO CORP,https://whoownswhat.justfix.org/bbl/2039870058,40.840981,-73.845479
6085,3074050736,2711 AVENUE X,BK,66,0,1961,D4,KINSOR COOPERATIVE CORP,https://whoownswhat.justfix.org/bbl/3074050736,40.593784,-73.943073
6086,1008380001,980 AVENUE OF THE AMER,MN,380,0,1986,D6,VBG 990 AOA LLC,https://whoownswhat.justfix.org/bbl/1008380001,40.751259,-73.986281
6087,3024470010,256 SOUTH 4 STREET,BK,33,0,1915,C6,256 SO 4TH ST HSNG DV,https://whoownswhat.justfix.org/bbl/3024470010,40.709818,-73.957903
6088,1008500062,20 EAST 22 STREET,MN,23,0,1925,D3,ALLIED XXXIII LLC,https://whoownswhat.justfix.org/bbl/1008500062,40.739973,-73.988499

In [6]:
gce_df['geometry'] = gce_df.apply(
    lambda r: Point(r['longitude'], r['latitude']), 1
)

In [9]:
gce_gdf = gpd.GeoDataFrame(gce_df[['bbl', 'longitude', 'latitude']], geometry=gce_df['geometry'], crs="EPSG:4326")

In [10]:
gce_gdf

             bbl  longitude   latitude                    geometry
0     3051020063 -73.959027  40.647685  POINT (-73.95903 40.64768)
1     3024310036 -73.962064  40.711812  POINT (-73.96206 40.71181)
2     1005830024 -74.005142  40.730644  POINT (-74.00514 40.73064)
3     1014990010 -73.958767  40.781969  POINT (-73.95877 40.78197)
4     1005670007 -73.995280  40.733172  POINT (-73.99528 40.73317)
...          ...        ...        ...                         ...
6084  2039870058 -73.845479  40.840981  POINT (-73.84548 40.84098)
6085  3074050736 -73.943073  40.593784  POINT (-73.94307 40.59378)
6086  1008380001 -73.986281  40.751259  POINT (-73.98628 40.75126)
6087  3024470010 -73.957903  40.709818   POINT (-73.9579 40.70982)
6088  1008500062 -73.988499  40.739973   POINT (-73.9885 40.73997)

[6089 rows x 4 columns]

In [12]:
points_in_neighborhoods = gpd.sjoin(gce_gdf, neighborhoods_gdf, how='left', predicate='within')

In [13]:
points_in_neighborhoods

,bbl,longitude,latitude,geometry,index_right,ntacode,shape_area,county_fips,ntaname,shape_leng,boro_name,boro_code
0,3051020063,-73.959027,40.647685,POINT (-73.95903 40.64768),82.0,BK42,45246195.1228,047,Flatbush,38738.4087221,Brooklyn,3
1,3024310036,-73.962064,40.711812,POINT (-73.96206 40.71181),126.0,BK73,28854314.0339,047,North Side-South Side,28098.0265556,Brooklyn,3
2,1005830024,-74.005142,40.730644,POINT (-74.00514 40.73064),107.0,MN23,25011449.2119,061,West Village,29499.9496808,Manhattan,1
3,1014990010,-73.958767,40.781969,POINT (-73.95877 40.78197),57.0,MN40,20065364.3292,061,Upper East Side-Carnegie Hill,23778.4107607,Manhattan,1
4,1005670007,-73.995280,40.733172,POINT (-73.99528 40.73317),107.0,MN23,25011449.2119,061,West Village,29499.9496808,Manhattan,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6084,2039870058,-73.845479,40.840981,POINT (-73.84548 40.84098),152.0,BX37,36320612.7249,005,Van Nest-Morris Park-Westchester Square,42638.9663048,Bronx,2
6085,3074050736,-73.943073,40.593784,POINT (-73.94307 40.59378),50.0,BK17,63355880.395,047,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,91227.2912305,Brooklyn,3
6086,1008380001,-73.986281,40.751259,POINT (-73.98628 40.75126),68.0,MN17,30191277.4686,061,Midtown-Midtown South,27032.7303299,Manhattan,1
6087,3024470010,-73.957903,40.709818,POINT (-73.9579 40.70982),126.0,BK73,28854314.0339,047,North Side-South Side,28098.0265556,Brooklyn,3
6088,1008500062,-73.988499,40.739973,POINT (-73.9885 40.73997),86.0,MN13,37054369.1996,061,Hudson Yards-Chelsea-Flatiron-Union Square,45412.9609168,Manhattan,1

In [17]:
points_in_neighborhoods[['bbl', 'longitude', 'latitude', 'ntaname', 'ntacode', 'county_fips']].to_csv("neighborhood_gce_df.csv", index=False)